body {
display: grid;
grid-template-areas:
"header header header"
"left content right";
grid-template-rows: 88px 1fr;
grid-template-columns: 10% 1fr 10%;
grid-row-gap: 10px;
grid-column-gap: 10px;
height: 100vh;
margin: 0;
background-color: #fbfbfb;
}

#content {
  grid-area: content;
}

#left {
  grid-area: left;
}

#right {
  grid-area: right;
}