@font-face {
  font-family: SFProDisplay-Regular;
  src: url(/src/static/fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: SFProDisplay-Semibold; 
  src: url(/src/static/fonts/SF-Pro-Display-Semibold.otf);
}

@font-face {
  font-family: SFProText-Medium; 
  src: url(/src/static/fonts/SFProText-Medium.ttf);
}

@font-face {
  font-family: SFProText-Regular; 
  src: url(/src/static/fonts/SFProText-Regular.ttf);
}