#header {
  background: rgb(255, 255, 255);
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  grid-area: header;
}

.notification {
  width: 29px;
  height: 29px;
  background: url(/src/static/img/notifications.svg) no-repeat left bottom;
  cursor: pointer;
}

.notification:after {
  content: "";
  background: rgb(255, 30, 3);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: block;
  position: relative;
  right: -16px;
}

.account {
  margin: 0 100px 0 20px;
}

.name {
  color: rgb(43, 45, 51);
  font-family: SFProDisplay-Regular;
  font-size: 16px;
  font-weight: normal;
  height: 19px;
  text-align: right;
  position: relative;
  margin-bottom: 8px;
}

.name:before {
  content: "";
  background: url(/src/static/img/arrow.svg) no-repeat left top;
  background-size: contain;
  opacity: 0.5;
  height: 16px;
  width: 16px;
  display: block;
  position: absolute;
  top: 0px;
  right: -38px;
  cursor: pointer;
}

.position {
  color: rgb(128, 129, 133);
  font-family: SFProDisplay-Regular;
  font-size: 12px;
  font-weight: normal;
  height: 14px;
  text-align: right;
  position: relative;
}